:root {
  --foreground-rgb: hsla(0, 0%, 100%, 0.87);
  --translucent-background: hsla(0, 3%, 20%, 0.707);
  --primary-glow: white;
  --secondary-glow: hsla(0, 0%, 100%, 0.6);
  --disabled-glow: hsla(0, 0%, 41%, 0.982);
  --brand-accent: linear-gradient(145deg, orange, orange, white);
}

.brand-logo-color {
  background: var(--brand-accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color-scheme: dark;
  background-color: black;
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  width: 100svw;
}

body {
  color: var(--foreground-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 0.9em;
}
