.backdrop {
  transition:
    width 300ms ease-in-out,
    opacity 300ms ease-in-out;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  opacity: 0;
  mask: linear-gradient(90deg, black, black, black, black, transparent);
  backdrop-filter: blur(8px);
}

.backdropExpanded {
  width: 40vw;
  opacity: 1;
}
