.backdrop {
  transition:
    width 300ms ease-in-out,
    opacity 300ms ease-in-out;
  width: 84px;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: 10;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), transparent);
}

.backdropExpanded {
  width: 60svw;
}
